@media (max-width: 390px) {
    .price-col {
        display: block;
        width: 100%;
    }
    .price-col .price {
        float: left !important;
    }
}
@media (max-width: 500px) {
    .logo-img {
        width: 90% !important;
        margin-top: 3em !important;
    }
    .nav-menu {
        margin-bottom: 0.9em !important;
    }
    .content-container .content {
        margin-top: 0.5em !important;
    }
    .footer-row {
        margin-top: 1.5em !important;
    }
}

body {
    background-image: url("../img/background_desaturated.png");
}
.logo-img {
    display: block;
    width: 65%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}
.nav-menu {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5em;
    margin-top: 0.7em;
    margin-bottom: 1.3em;
    padding: 0.15em 0em 0.15em 0em;
    border-top: 4px solid #1d4d6d;
    border-bottom: 4px solid #ed1c24;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.nav-menu ul {
    list-style: none;
    margin: 0px auto;
    padding: 0;
    text-align: center;
}
.nav-menu ul li {
    display: inline-block;
}
.nav-menu ul li a {
    text-decoration: none;
    color: black;
}
.nav-menu ul li a:hover {
    color: #ed1c24;
}
div.content-container {
    background: url("../img/halftone_desaturated.png");
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    border-left: 8px solid #1d4d6d;
    border-right: 8px solid #1d4d6d;
    margin-bottom: 2em;
    margin-left: -8px;
    margin-right: -8px;
}
.content-container .content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    line-height: 1.5em;
    margin-top: 2em;
}
.content img {
    border: 4px solid #1d4d6d;
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    float: right;
}
.content h1 {
    padding: 0.2em 0em 0.2em 0em;
    margin-top: 0em;
}
.footer-row {
    margin-top: 3em;
    margin: 3em -8px 0px -8px;
}
footer {
    color: #F4F2E9;
    background: #0D1B1E;
    box-shadow: 0px -2.5px 2.5px 0px rgba(0,0,0,0.25);
}
footer h4 {
    margin-top: 2em;
}
.sub-menu {
    margin-top: 1em;
}
.sub-menu .menu-items {
    margin-left: 1em;
}
.sub-menu h2 {
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    padding-left: 0em;
    font-size: 2em;
    margin-bottom: 0em;
    color: #0D1B1E;
    border-bottom: 3px rgba(13, 27, 30, 0.9) solid;
}
.menu-item {
    margin-top: 1em;
}
.menu-item .price {
    float: right;
    font-size: 1.3em;
    font-weight: bold;
}
.menu-item .description {
    display: block;
    border-bottom: 2px #1d4d6d solid;
}
.menu-item h4 {
    margin-top: 0em;
    display: inline-block;
    margin-bottom: 0.1em;
    font-size: 1.3em;
}
.legend .description {
    margin-left: 1em;
}
iframe.map {
    margin: 0 auto;
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    width: 100%;
    height: 400px;
    display: block;
}
div.title {
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #1d4d6d;
    text-align: center;
}
div.title h1 {
    margin-top: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}
h1.lounas {
    margin-bottom: 0.1em;
}
.img-center {
    display: block;
    margin: 0 auto !important;
    float: none !important;
}
.history.visible-xs-block .text {
    margin-top: 1em;
    display: none;
}
.history.visible-xs-block h2 span.wrapper {
    cursor: pointer;
    border-bottom: 3px solid #0D1B1E;
}
img.ship.visible-xs-block {
    margin-top: 2em !important;
}
.lounas h4 {
    font-size: 1.2em;
}
.lounas .price {
    font-size: 1.2em;
}
.map-wrapper {
    margin: 1em;
    margin-bottom: 0em !important;
}
.image-stack img {
    margin-top: 1em;
}
.lounas .sub-menu .menu-items {
    margin-left: 0em;
}
.details .text {
    display: none;
}
.lead-img {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.history.visible-xs-block p.history-text {
    display: none;
    margin-top: 1em;
}
.select-restaurant {
    margin-top: 3em;
}
.select-restaurant img {
    margin-left: 1em !important;
    margin-right: 1em !important;
    border: 4px solid #1d4d6d;
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
}
.closed {
    opacity: 0.5;
}
.select-restaurant .closed-message {
    color: red;
}
.select-restaurant a, .restaurant-mobile a {
    color: #14354c;
}
.select-restaurant a:hover, .restaurant-mobile a:hover {
    color: #ed1c24;
    text-decoration: none;
}
.select-restaurant .wrapper {
    text-align: center;
}
.select-restaurant .restaurant-name {
    font-size: 1.4em;
    margin-top: 0.4em;
    font-weight: bold;
}
.select-restaurant .restaurant-location {
    margin-top: -0.2em;
    font-size: 1.2em;
    font-weight: bold;
}
.mobile .logo-img {
    margin-bottom: 3em;
}
.restaurant-mobile {
    margin-top: 1.5em;
    text-align: center;
}
.restaurant-mobile .restaurant-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.2em;
    font-weight: bold;
}
.restaurant-mobile .restaurant-location {
    font-size: 1.5em;
    margin-top: -0.4em;
    font-weight: bold;
}
.restaurant-mobile .closed-message {
    margin-top: 0.1em;
    color: red !important;
}
.content .closed-message {
    color: red;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}
.intro-page {
    margin-bottom: 5em;
}
.intro-page .splitter {
    margin-top: 2em;
    border-bottom: 4px solid #ed1c24;
}
.intro-page .splitter-2 {
    margin-top: 4px;
    border-bottom: 4px solid #1d4d6d;
}
.mobile .splitter {
    margin-top: 1.5em;
}
.restaurants {
    border-bottom: 4px solid #ed1c24;
    border-top: 4px solid #1d4d6d;
    padding-bottom: 1.5em;
}